.radial{
  /* background-image: linear-gradient(-60deg, #aba6a6ad, #000000); */
  background-image: url(https://i.pinimg.com/originals/b9/54/67/b95467615f84b7935f8cc31bb4c002bc.png);
}
/* COMIENZAN ESTILOS PARA MENU */
.header{
  background-image: linear-gradient(-90deg, rgba(53, 121, 128, 0.5), rgba(28, 65, 68, 0.5));
}
.nav-link{
  font-size: 14px;
  margin: 3px;
  color: rgba(255, 255, 255, 0.904)!important;
  font-weight: 500;
}
.navbar-nav{
  text-align: right;
  margin-right: 20px;
}
.menu-bar .navbar-toggler{
  padding-right: 20px;
  outline: none!important;
  border: none!important;
}
.nav-link:hover{
  font-weight: 600;
  border-bottom: 1px solid rgb(164, 110, 110);
}
.navbar-brand img{
  width: 150px;
  margin-top: 5px;
  margin-left: 0px;
}
/* TERMINAN ESTILOS DE MENU */

/* ------------------------------------------------------------------------------------- */

/* COMIENZAN ESTILOS PARA PORTADA */
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}
.contenido-banner {
  text-align: center;
}
.contenido-banner h5 {
  font-size: 75px;
  font-weight: 250;
  letter-spacing: 7px;
  font-family: sans-serif;
}
.lorem{
  font-weight: 250;
  font-family: sans-serif;
}
.primary-btn {
  background: rgba(71, 135, 141, 0.5);
  border: 1px solid transparent;
  color: rgba(140, 211, 218, 0.5);
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
}
.primary-btn:hover {
  border: 1px solid rgba(101, 167, 173, 0.5);
  background: transparent;
  color: rgb(0, 0, 0);
}
/* TERMINAN ESTILOS PARA PORTADA */

/* ------------------------------------------------------------------------------------- */

/* COMIENZAN ESTILOS PARA CUERPILLO */
.cuerpo{
  /* background-image: linear-gradient(-90deg, #FFF0C9, rgb(217, 213, 202)); */
  border-bottom: 1px solid #d79797ad;
}
.martop{
  margin-top: 345px;
  border-radius: 50px;
}
.marbot{
  margin-bottom: 150px;
}


/* ESTILOS PARA CONTACT ME */
/* .margensin {
  
} */