<div class="container-fluid">
    <div *ngIf="!loaded">
        Obteniendo informacion...
    </div>
</div>

<body class="fondo">
    <app-fecha></app-fecha>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 pb-3 pt-3" *ngFor="let x of climaHoy.dataseries">
                <div class="card border rounded-5 cardsilla">
                    <div class="card-img-wrapper">
                        <h5 class="card-title titulocard mt-4">
                            Informacion sobre Clima
                        </h5>
                        <img class="mt-2" src="https://cdn2.iconfinder.com/data/icons/40-weather-conditions/128/sunny-512.png" alt="image" style="width: 150px" *ngIf=" x.weather =='clear'">
                        <img class="mt-2" src="https://cdn2.iconfinder.com/data/icons/40-weather-conditions/128/Mostly_Sunny-512.png" alt="image" style="width: 150px" *ngIf=" x.weather =='pcloudy'">
                        <img class="mt-2" src="https://cdn2.iconfinder.com/data/icons/40-weather-conditions/128/Mostly_Cloudy-512.png" alt="image" style="width: 150px" *ngIf=" x.weather =='cloudy'">
                        <img class="mt-2" src="https://www.iconfinder.com/icons/1139995/cloud_cloudy_internet_moving_online_weather_icon" alt="image" style="width: 150px" *ngIf=" x.weather =='vcloudy'">
                        <img class="mt-2" src="https://cdn2.iconfinder.com/data/icons/40-weather-conditions/128/hazy_Sunshine-512.png" alt="image" style="width: 150px" *ngIf=" x.weather =='foggy'">
                        <img class="mt-2" src="https://cdn2.iconfinder.com/data/icons/40-weather-conditions/128/light_rain-512.png" alt="image" style="width: 150px" *ngIf=" x.weather =='lrain'">
                        <img class="mt-2" src="https://www.iconfinder.com/icons/1139986/cloud_drops_heavy_shower_sun_weather_icon" alt="image" style="width: 150px" *ngIf=" x.weather =='oshowers'">

                        <div class="card-body">
                            <div class="info-property">
                                <p class="fecha"> 
                                    <!-- Dia: <span class="temp" id="demo"></span> <br> -->
                                    <span>
                                        Fecha:
                                    </span> 
                                    <span class="temp">{{ x.date.toString().substring(6,8)}}/{{ x.date.toString().substring(4,6)}}/{{ x.date.toString().substring(0,4)}}</span> <br>
                                    Temperaturas: <br>
                                    <span class="temp">Maxima: {{x.temp2m.max}}°C | Minima: {{x.temp2m.min}}°C</span> <br>
                                    Clima: <span class="temp">{{x.weather}}</span> <br>
                                </p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function myFunction() {
          var d = new Date();
          var weekday = new Array(7);
          weekday[0] = "Sunday";
          weekday[1] = "Monday";
          weekday[2] = "Tuesday";
          weekday[3] = "Wednesday";
          weekday[4] = "Thursday";
          weekday[5] = "Friday";
          weekday[6] = "Saturday";
        
          var n = weekday[d.getDay()];
          document.getElementById("demo").innerHTML = n;

        }
    </script>

</body>
