.fondo {   
    background-image: url(https://www.publicdomainpictures.net/pictures/280000/velka/mountain-weather-background-1545512613Vss.jpg);
}

.cardsilla {
    /* background-color: rgb(38,36,35); */
/*     background-color: rgba(38, 36, 35, 0.625); */
    background-color: rgba(38, 36, 35, 0.421);
    color: rgba(255, 255, 255, 0.591);
    align-items: center;
    text-align: center;
}

.titulocard {
    font-weight: bold;
    color: rgba(211, 187, 68, 0.721);
}

.temp {
    color: rgba(197, 179, 88, 0.768);
}

.fecha {
    font-weight: bold;
}