<body class="fondo">
    <div class="container">

        <div class="row mb-5">
            <section>
                Hola
                <div class="form-group boton pt-4">
                    <label for="cantidad" class="texto2">Cantidad</label>
                    <input type="number" class="form-control inputsillo" id="cantidad" #cantidad />
                </div>
                <button class="btn btn-outline-dark ml-2 mb-2 boton" (click)="cargarDatos(cantidad.value)" >Consultar</button>
            </section>
        </div>
    
        <div class="row">
            <div class="col-12 mb-3 col-sm-6 col-lg-3" *ngFor="let personaje of info">
                <div class="card border rounded-5">
                    <div class="card-img-wrapper">
                        <img class="estiloimagen" src="{{personaje.image}}" alt="Avatar" style="width: 100%">
                        <div class="card-body">
                            <h5 class="card-title texto2">{{personaje.name}}</h5>
                            <div class="info-property texto">
                                <span>Status</span>
                                <p>{{personaje.status}}</p>
                            </div>
                            <div class="info-property texto">
                                <span>Specie</span>
                                <p>{{personaje.species}}</p>
                            </div>
                            <div class="info-properity texto">
                                <span>Location</span>
                                <p>
                                    <button (click)="open(personaje.location.url)" class="btn btn-link btn-sm">
                                        {{personaje.location.name}}
                                    </button>
                                </p>
                            </div>
                            
                            <div class="info-properity mt-4">
                                <!-- <button type="button" class="btn btn-primary"   ngbPopover="{{personaje.name}}"  popoverTitle="Informacion" placement="right">
                                    Informacion
                                </button> -->

                                <ng-template #popContent>
                                    <p><b>Id:       {{personaje.id}}</b></p>
                                    <p><b>Name:     {{personaje.name}}</b></p>
                                    <p><b>Status:   {{personaje.status}}</b></p>
                                    <p><b>Species:  {{personaje.species}}</b></p>
                                    <p><b>Type:     {{personaje.type}}</b></p>
                                    <p><b>Gender:   {{personaje.gender}}</b></p>
                                    <p><b>Origin:   {{personaje.origin.name}}</b></p>
                                    <p><b>Location: {{personaje.location.name}}</b></p>
                                </ng-template>


                                <ng-template #popTitle>Informacion</ng-template>

                                <button type="button" class="btn btn-primary" [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="right">
                                    Informacion
                                </button>


                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>