.fondo{
    background-color:rgb(28, 28, 28);
}

.fondo2{
  background-color: rgb(14,14,16);
}

.estiloimagen{
/*   margin-top: 25px; */
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  height: 300px;
}

.boton{
  border-radius: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(245, 48, 48, 0.768);
  transition: 0.5s;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  height: 700px;
  border-radius: 10px;
  background-color: rgb(24, 24, 24);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(223, 181, 103, 0.999);
}

.parrafo{
  color: rgb(234, 190, 63);
  background-color: rgb(21, 21, 21);
 /*  border-bottom: 1px double rgb(185, 155, 66); */
}

.span{
  color: rgb(203, 50, 52);
}

.texto{
  border-bottom: 3px outset rgb(182, 153, 68);
  font-weight: bold;
  font-style: italic;
  font-size: x-small;
  color: rgb(234, 190, 63);
}

.texto2{
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  color: rgb(185, 155, 66);
  margin-left: 40px;
}

.inputsillo{
  text-align: left;
  width: 80%;
  font-weight: bold;
  font-style: italic;
  color: rgb(185, 155, 66);
}

.ache2{
    color: rgb(245, 245, 245);
    font-size: 1.225rem;
    font-weight: 300;
    font-stretch: expanded;
    margin: 0px;
}

.pe{
    color: rgb(187, 187, 187);
    font-size: 0.875rem;
    margin: 0px;
}