<template>
  <v-lazy
    v-model="isActive"
    :options="{
    threshold: 0.5
    }"
    style="width: auto;"
    min-height="auto"
    transition="fade-transition"
  >
    <v-container v-if="!tabla">
      <v-row class="align-items" justify="space-around">
        <v-col cols="12">
          <v-row>
            <v-col cols="12">
              <v-btn color="black" dark style="float: left"
                     v-if="!tabla" @click="tabla = !tabla">
                Mirar tabla<v-icon class="ml-1">mdi-table</v-icon>
              </v-btn>
              <v-tooltip>
                <template v-slot:activator="{ on, attrs }">
                  <download-excel :data="info" :fields="info_fields">
                    <v-btn class="ml-5" color="black" dark style="float: left"
                           v-bind="attrs" v-on="on">
                      Descargar Excel<v-icon>mdi-microsoft-excel</v-icon>
                    </v-btn>
                  </download-excel>
                </template>
              </v-tooltip>
            </v-col>
            <v-col cols="12">
              <v-card v-show="this.user.departamento === 'Departamento de Metal-Mecanica'">
                <v-btn>...</v-btn>
              </v-card>
              <v-card
                      v-show="this.user.departamento === 'Departamento de Sistemas y Computacion'">
                <v-btn>Hola...</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-card style="max-height: 100%" elevation="3" class="mt-3">
            <v-row class="pa-9 mb-15" justify="space-between">
              <v-col cols="6" v-for="(alumno) in shownCards" :key="alumno.id">
                <v-card style="max-height: 100%; max-width: 100%; position: relative"
                        elevation="3" :alumno="alumno"
                        lass="grey lighten-5">
                  <v-card-text class="text-center">
                    <v-card
                      flat
                      class="align-content-center"
                      style="border-radius: 5%;
                    height: 140px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;">
                      <v-img
                        contain
                        :src="alumno.image"
                        class="mb-6"
                        max-height="120%"
                        max-width="100%"
                      ></v-img>
                    </v-card>
                    <h3 class="text-h5 mb-2 mt-5">
                      {{ alumno.firstName}} {{ alumno.lastName}}
                    </h3>
                    <div class="blue--text mb-2">
                      {{ alumno.email}}
                    </div>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-row>
                    <v-col class="text-center pt-5" cols="12">
                      <span>Estado</span>
                      <v-card-subtitle style="margin-top: -10px">
                        {{alumno.state}}</v-card-subtitle>
                      <span>Ciudad</span>
                      <v-card-subtitle style="margin-top: -10px">
                        {{alumno.city}}</v-card-subtitle>
                      <span>CURP</span>
                      <v-card-subtitle style="margin-top: -10px">
                        {{alumno.curp}}</v-card-subtitle>
                      <span>Telefono</span>
                      <v-card-subtitle style="margin-top: -10px">
                        {{alumno.phone}}</v-card-subtitle>
                      <span>Direccion</span>
                      <v-card-subtitle style="margin-top: -10px">
                        {{alumno.direccion}}
                      </v-card-subtitle>
                      <span>Carrera</span>
                      <v-card-subtitle style="margin-top: -10px">
                        {{alumno.carrera}}</v-card-subtitle>
                      <span>Numero de control</span>
                      <v-card-subtitle style="margin-top: -10px">{{alumno.numeroControl}}
                      </v-card-subtitle>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
              <v-col cols="12" class="pagination">
                <v-pagination v-model="page"
                              :length="Math.ceil(info.length / totalElem)"
                              prev-icon="mdi-menu-left"
                              next-icon="mdi-menu-right"
                              :page="page"
                              :total-visible="7"></v-pagination>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid v-else>
      <v-row class="align-items" justify="space-around">
        <v-col cols="12">
          <v-btn color="black" dark style="float: left"
                 v-if="tabla" @click="tabla = !tabla">
            Mirar Cartas<v-icon class="ml-2">mdi-card-account-details</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="12">
          <v-card width="100%" height="70%" elevation="5">
            <v-divider></v-divider>
            <v-data-table
              locale="es"
              :headers="headers"
              :items="info"
              :items-per-page="5"
              :page.sync="page"
              @page-count="pageCount = $event"
              class="elevation-1"
              :search="busqueda"
              hide-default-footer
            >
              <template v-slot:top>
                <v-text-field
                  v-model="busqueda"
                  label="Buscar"
                  class="mx-4"
                ></v-text-field>
              </template>
              <template v-slot:items="props" class="black--text">
                <v-text-field
                  v-model="busqueda"
                  label="Buscar"
                  class="mx-4"
                ></v-text-field>
                <td>{{ props.item.numeroControl }}</td>
                <td>{{ props.item.firstName }}</td>
                <td>{{ props.items.lastName }}</td>
                <td>{{ props.items.curp }}</td>
                <td>{{ props.items.email }}</td>
                <td>{{ props.item.carrera }}</td>
                <td>{{ props.items.departamento }}</td>
                <td>{{ props.items.phone }}</td>
              </template>
              <template v-slot:item.acciones="{ item }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn @click="edit(item)" color="red">
                      <span v-if="false">{{ on }}{{ attrs }}</span>
                      <v-icon class="white--text">mdi-account-remove</v-icon>
                    </v-btn>
                  </template>
                  <span>Tooltip</span>
                </v-tooltip>
              </template>
            </v-data-table>
            <v-pagination
              v-model="page"
              :length="pageCount"
            ></v-pagination>
          </v-card>
          <v-dialog v-model="confirmar" width="unset">
            <v-card>
              <v-card-title class="text-h5" style="word-break: break-word"
              >Desea dar de baja a este usuario de sus alumnos?</v-card-title
              >
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" outlined @click="confirmar = false">
                  Cancelar
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" outlined @click="darDeBaja()">
                  Aceptar
                </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
    </v-container>
  </v-lazy>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    proyecto: Object,
    index: Number,
    mios: Boolean,
  },
  name: 'Alumnos',
  components: {
  },
  data() {
    return {
      page: 1,
      totalElem: 6,
      isActive: false,
      user: '',
      active: [],
      search: '',
      avatar: null,
      open: [],
      confirmar: false,
      confirmacion: false,
      busqueda: '',
      key: '',
      headers: [
        { text: 'NUMERO DE CONTROL', align: 'start', value: 'numeroControl' },
        { text: 'NOMBRE(S)', align: 'start', value: 'firstName' },
        { text: 'APELLIDO(S)', value: 'lastName' },
        { text: 'CURP', value: 'curp' },
        { text: 'CORREO ELECTRONICO', value: 'email' },
        { text: 'CARRERA', value: 'carrera' },
        { text: 'DEPARTAMENTO', value: 'departamento' },
        { text: 'TELEFONO', value: 'phone' },
        { text: 'ACCIONES', value: 'acciones', sortable: false },
      ],
      tabla: false,
      image: '',
      info: [],
      filtro: [],
      info_fields: {
        'Correo institucional': 'email',
        'Correo Personal': 'emailPersonal',
        'Numero de control': 'numeroControl',
        'Nombre(s)': 'firstName',
        'Apellido(s)': 'lastName',
        Ciudad: 'city',
        Estado: 'state',
        CURP: 'curp',
        Carrera: 'carrera',
        Departamento: 'departamento',
        Telefono: 'phone',
        Direccion: 'direccion',
      },
      pageCount: 0,
    };
  },
  /* eslint-disable consistent-return */
  mounted() {
    this.getUsers();
  },
  watch: {
    isActive() {
      console.log(this.isActive);
    },
  },
  methods: {
    totalPaginas() {
      return Math.cell(this.info.length / this.elementosPorPagina);
    },
    getUsers() {
      this.user = this.$store.getters.getUser;
      console.log(this.user, 'SE');
      axios.get('users')
        .then((response) => {
          this.info = response.data.filter((b) => b.accessLevel === 3
            && this.$store.getters.getUser.departamento === b.departamento);
        });
    },
    edit() {
      this.confirmar = true;
    },
    darDeBaja() {
      this.confirmacion = true;
      this.confirmar = false;
    },
  },
  computed: {
    // eslint-disable-next-line consistent-return,vue/return-in-computed-property
    shownCards() {
      // Numero de elementos a mostrar por página
      console.log(this.info, 'CARTAS');
      // filter((bog) => bog.firstName.toLowerCase().match(this.search.toLowerCase()))
      return this.info.slice((this.page - 1) * this.totalElem, this.page * this.totalElem);
    },
  },
};
</script>

<style scoped>
.pagination {
  display: flex;
  justify-content: center;
}
</style>
