<template>
  <v-container class="nomar">
    <v-row>
      <v-col cols="11" md="11" v-for="(proyecto, i) in myPresidencias"
             :key="proyecto.id+proyecto.liked_by">
        <v-row>
          <v-col cols="12">
            <v-card :index="i">
              {{ proyecto.anteProy[0] }}
            </v-card>
            <v-card :index="i">
              {{ proyecto.cartAceptacion[0] }}
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import axios from 'axios';

export default {
  name: 'Directorio',
  components: {
  },
  data() {
    return {
      PR: [],
      PRR: [],
      proyR: '',
      nr: false,
      tool: false,
      info: [],
      proyectoID: '',
    };
  },
  mounted() {
    this.PR = this.$store.getters.getMyPresidencias;
    for (let i = 0; i < this.PR.length; i += 1) {
      console.log(this.PR[i].proyectoId, 'RRPR');
      this.proyectoID = this.PR[i].proyectoId;
      console.log(this.proyectoID, 'OAOAOA');
    }
    this.getMyProyecto();
    this.$nextTick(() => {
      this.$store.dispatch('fetchMyPresidencias');
      this.$store.dispatch('fetchPresidencias');
      this.$store.dispatch('fetchProyectos');
      this.$store.dispatch('fetchMyUsuarios');
      this.$store.dispatch('fetchUsuarios');
    });
  },
  computed: {
    myPresidencias() {
      return this.info;
    },
  },
  methods: {
    getMyProyecto() {
      axios.get(`proyectos/presidencias/${this.proyectoID}`)
        .then((response) => {
          this.info = response.data;
          console.log(this.info, 'INFOOOO');
        });
    },
  },
};
</script>

<style scoped>
.nomar {
  margin-top: -0.5rem;
  padding-top: 2.5rem;
}
</style>
