<template>
  <v-container>
    <v-card class="pa-4" elevation="5" shaped style="margin-bottom: 10px; margin-top: 20px">
      <v-form>
        <v-row style="padding: 10px">
          <v-col cols="12">
            <v-avatar  v-if="imagen" tile size="180">
              <v-img :src="imagen"></v-img>
            </v-avatar>
            <image-handler single v-model="images"></image-handler>
          </v-col>
          <v-col cols="12" sm="12" >
            <v-text-field placeholder="Nombre(S)" dense solo v-model="fname"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" >
            <v-text-field placeholder="Apellido(S)" dense solo v-model="lname"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="6" sm="3" md="3">
            <v-text-field placeholder="Ciudad" dense solo v-model="city"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="6" sm="3" md="3">
            <v-text-field placeholder="Estado" dense solo v-model="state"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="6" sm="6" md="6">
            <v-text-field placeholder="Domicilio (Calle, Numero, Colonia)"
                          dense solo v-model="direccion"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="6" sm="6" md="6">
            <v-autocomplete placeholder="Carrera:" dense solo v-model="carrera"
                            style="margin-top: -15px"
                            :items="[
                            'Ingenieria Mecanica',
                            'Ingenieria Mecatronica',
                            'Ingenieria en Sistemas Computacionales',
                            'Ingeniería en Tecnologías de la Información y Comunicaciones']"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" sm="6" md="6">
            <v-autocomplete placeholder="Departamento:" dense solo v-model="departamento"
                            style="margin-top: -15px"
                            :items="[
                            'Departamento de Metal-Mecanica',
                            'Departamento de Sistemas y Computacion']"
            ></v-autocomplete>
          </v-col>
          <v-col cols="6" sm="6" md="6">
            <v-text-field placeholder="Numero de control" dense solo v-model="ncontrol"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="6" sm="6" md="6">
            <v-text-field placeholder="Telefono" dense solo v-model="phone"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="12" sm="8">
            <v-text-field placeholder="CURP" dense solo v-model="curp"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" >
            <v-text-field placeholder="Email" dense solo v-model="email"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" >
            <v-text-field placeholder="Email personal" dense solo v-model="emailPersonal"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
          <v-col cols="12" >
            <v-text-field placeholder="Contraseña" dense solo v-model="password"
                          style="margin-top: -15px"></v-text-field>
          </v-col>
        </v-row>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn to="/" dark color="red">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="registrar" color="success" dark>Aceptar</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
import ImageHandler from '@/components/Global/ImageHandler';
import Axios from 'axios';

export default {
  name: 'NuevoAlumno',
  components: { ImageHandler },
  data() {
    return {
      images: [],
      imagen: null,
      fname: '',
      lname: '',
      email: '',
      emailPersonal: '',
      city: '',
      departamento: '',
      state: '',
      password: '',
      phone: '',
      curp: '',
      direccion: '',
      carrera: '',
      ncontrol: '',
    };
  },
  methods: {
    registrar() {
      const data = {
        firstName: this.fname,
        lastName: this.lname,
        email: this.email,
        emailPersonal: this.emailPersonal,
        departamento: this.departamento,
        image: '',
        phone: this.phone,
        curp: this.curp,
        password: this.password,
        accessLevel: 3,
        userSince: new Date().toISOString(),
        status: true,
        city: this.city,
        state: this.state,
        direccion: this.direccion,
        carrera: this.carrera,
        numeroControl: this.ncontrol,
      };
      if (this.images.length > 0) {
        const fD = new FormData();
        for (let i = 0; i < this.images.length; i += 1) {
          fD.append(`image${i}`, this.images[i]);
        }
        Axios.post('images', fD, {
          headers: {
            'Content-Type': 'multipart/form-data',
            Authorization: `Bearer ${this.$store.getters.getToken}`,
          },
        })
          .then((res) => {
            console.log(res);
            // eslint-disable-next-line prefer-destructuring
            data.image = res.data.imgs[0];
            this.$store.dispatch('register', data);
            this.$router.push('/alumnos');
          });
      } else {
        this.$store.dispatch('register', data);
        this.$router.push('/alumnos');
      }
    },
  },
  watch: {
    images() {
      console.log('e');
      try {
        const image = this.images[0];
        const lector = new FileReader();
        lector.readAsDataURL(image);
        lector.onload = (event) => {
          this.imagen = event.target.result;
        };
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style scoped>

</style>
