<template>
  <v-container>
    <register-component/>
    <Document/>
  </v-container>
</template>

<script>
import RegisterComponent from '@/components/Global/RegisterComponent';
import Document from '@/views/Document';
import { json2excel } from 'js2excel';

export default {
  name: 'Test',
  title: 'Pagina Name',
  components: {
    Document,
    RegisterComponent,
  },
  data() {
    return {
      image_s: [],
      avatar: null,
      iStyles: [{
        backgroundColor: 'transparent',
        width: `${1000}px`,
      }],
      uploading: false,
    };
  },
  watch: {
    image_s() {
      this.uploading = true;
      try {
        const image = this.image_s[0];
        const lector = new FileReader();
        lector.readAsDataURL(image);
        lector.onload = (event) => {
          this.avatar = event.target.result;
        };
      } catch (e) {
        console.log(e);
      }
    },
    onchange() {
      const data = this.info;
      // const arr = JSON.stringify(arra);

      try {
        json2excel({
          data,
          name: 'informacion-maestros',
          formateDate: 'yyyy/mm/dd',
        });
      } catch (e) {
        console.error('export error');
      }
    },
  },
};
</script>

<style scoped>
</style>
