<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{location.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="info-property">
    <span>Type</span>
    <p>{{location.type}}</p>
  </div>
  <div class="info-property">
    <span>Dimension</span>
    <p>{{location.dimension}}</p>
  </div>
</div>