#calculadora
{
    display: inline-block;
    margin:0 auto;
    padding: 25px;
    background-color: black;
    width: 270px;
    height: 560px;
    border:10px;
    border-radius: 10px;
}

.botonsin, .botonsillo, .botonsillo_vacio
{
    width: 45.5px;
    height: 52.5px;
    margin: 11px;
    float: left;
    color: white;
    background: black;
    font-size: 20px;
    border: 10px;
}

.botonsin:active 
{
    background-color: black;
    box-shadow: 0 5px white;
    transform: translateY(1px);
}

.botonsillo:active 
{
    background-color: black;
    box-shadow: 0 5px orange;
    transform: translateY(1px);
}

.botonsillo_vacio
{

    background-color: black;
    box-shadow: 0 5px black;
    transform: translateY(1px);

} 

#resultado
{
	height: 120px;
    background-color: rgba(27, 27, 27, 0.5);
}

#historial
{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

#output
{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
    font-size: 30px;
    color: white;
}

/* COMIENZAN BOTONES CON COLOR NARANJA */

button:nth-child(1)
{
	font-size: 20px;
    color: orange;
    font-weight: bold;
}
button:nth-child(2)
{
	font-size: 20px;
    color: orange;
    font-weight: bold;    
}
button:nth-child(3)
{
	font-size: 20px;
    color: orange;
    font-weight: bold;
}
button:nth-child(4)
{
	font-size: 20px;
    color: orange;
    font-weight: bold;
}
button:nth-child(8)
{
	font-size: 20px;
    color: orange;
    font-weight: bold;
}
button:nth-child(12)
{
	font-size: 20px;
    color: orange;
    font-weight: bold;
}
button:nth-child(16)
{
	font-size: 20px;
    color: orange;
    font-weight: bold;
}
button:nth-child(20)
{
	font-size: 20px;
    color: white;
    background-color: orange;
    font-weight: bold;
    border-radius: 50%;
}