.colfil{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
input{
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-style: italic;
}
a{
    font-family: inherit;
    font-weight: bold;
}

table {
    border-radius: 5px;
    margin-left: 20px;
    width: 97%;
}
td{
    text-align: center;
}

.captione, th
{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}