<div class="colfil">
    <a>
        Columnas:<input type="number" [formControl]="columns" (change)="actualizarTabla($event)" (keyup)="actualizarTabla($event)" />
        Filas:<input #input_rows type="number" [formControl]="rows" (change)="actualizarTabla($event)" (keyup)="actualizarTabla($event)" />
    </a>
</div>

<br />

<table class="table-responsive-sm table-striped table-bordered table-hover">
    <caption class="captione">Tabla con {{columns.value}} columnas y {{rows.value}} filas </caption>
    <thead class="thead-dark">
        <th scope="col">
            #
        </th>
        <th scope="col" *ngFor="let item of arr[0]; let i=index">
            Columna {{i+1}}
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let num of arr; let i=index">
            <th scope="row">Fila {{i+1}}</th>
            <td *ngFor="let n of num">
                {{n}}
            </td>
        </tr>
    </tbody>
</table>
