<template>
  <v-form>
    <v-card style="padding: 10px" elevation="3">
      <v-row style="margin-bottom: 5px">
        <v-col cols="4" offset="4" offset-md="0" md="2">
          <v-avatar color="grey lighten-3" size="150" style="margin-left: 40px">
            <v-img :src="imagen"></v-img>
          </v-avatar>
        </v-col>
        <v-col cols="12" offset-md="1" md="4">
          <image-handler single :disabled="!editable"
                         style="margin-top: 15%" v-model="image"></image-handler>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row style="margin-top: 5px">
        <v-col cols="12" md="4">
          <v-text-field label="Nombre(s)"
                        solo
                        :readonly="!editable"
                        :disabled="myUser.accessLevel === 3"
                        v-model="firstName"></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field label="Apellido(s)"
                        solo
                        :readonly="!editable"
                        :disabled="myUser.accessLevel === 3"
                        v-model="lastName"></v-text-field>
        </v-col>
        <v-col cols="12" md=4>
                                <v-menu
                                  ref="menu"
                                  v-model="menu"
                                  :close-on-content-click="false"
                                  :return-value.sync="fNacimiento"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="auto"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      disabled
                                      readonly
                                      v-model="fNacimiento"
                                      prepend-icon="mdi-calendar"
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    type="date"
                                    v-model="fNacimiento" elevation="5"
                                    year-icon="mdi-calendar-blank"
                                    prev-icon="mdi-skip-previous"
                                    next-icon="mdi-skip-next"
                                    no-title
                                    scrollable
                                  >
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      text
                                      color="primary"
                                      @click="menu = false"
                                    >
                                      Cancel
                                    </v-btn>
                                    <v-btn
                                      text
                                      color="primary"
                                      @click="$refs.menu.save(fNacimiento)"
                                    >
                                      OK
                                    </v-btn>
                                  </v-date-picker>
                                </v-menu>
                              </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field label="Telefono"
                        solo
                        type="number"
                        :readonly="!editable"
                        v-model.number="phone"></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field label="Correo Institucional"
                        solo
                        readonly
                        :disabled="myUser.accessLevel === 3"
                        type="email" v-model="email"></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            label="Correo Personal"
            solo
            :readonly="!editable"
            v-model="personalEmail">
          </v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            label="CURP"
            solo
            :readonly="!editable"
            :disabled="myUser.accessLevel === 3"
            v-model="curp">
          </v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            label="Estado"
            disabled
            solo
            readonly
            v-model="state">
          </v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            label="Ciudad"
            disabled
            solo
            readonly
            v-model="city">
          </v-text-field>
        </v-col>
        <v-col cols="6" md="5">
          <v-text-field
            label="Carrera"
            solo
            :readonly="!editable"
            :disabled="myUser.accessLevel === 3"
            v-model="career">
          </v-text-field>
        </v-col>
        <v-col cols="6" md="5">
          <v-text-field
            label="Departamento"
            solo
            :readonly="!editable"
            :disabled="myUser.accessLevel === 3"
            v-model="department">
          </v-text-field>
        </v-col>
        <v-col cols="3" md="2">
          <v-text-field
            label="Numero de control"
            solo
            hint="Este es tu numero de control pa"
            persistent-hint
            :readonly="!editable"
            :disabled="myUser.accessLevel === 3"
            v-model="enrollment">
          </v-text-field>
        </v-col>
        <v-col cols="12" md="12">
          <v-text-field
            label="Direccion"
            solo
            :readonly="!editable"
            v-model="address">
          </v-text-field>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="orange"
               v-if="!editable"
               class="white--text"
               @click="editable = !editable">Editar
        </v-btn>
        <v-btn color="red" class="white--text"
               v-if="editable"
               @click="cancelar">Cancelar
        </v-btn>
        <v-btn color="green" class="white--text"
               v-if="editable"
               @click="actualizar">Actualizar
        </v-btn>
      </v-card-actions>
      <v-dialog
        v-model="dialog" max-width="290">
        <v-card>
          <v-card-title class="text-h5">
            <v-icon>mdi-alert-circle</v-icon>
          </v-card-title>
          <v-card-text>
            La informacion del usuario ha sido actualizada.
          </v-card-text>
          <v-card-actions>
            <v-btn class="marginsin" color=red outlined @click="close">
              Cerrar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-form>
</template>

<script>
import Axios from 'axios';
import ImageHandler from '../Global/ImageHandler.vue';

export default {
  components: { ImageHandler },
  props: ['myUser'],
  name: 'Personal',
  data() {
    return {
      prevUser: '',
      editable: false,
      imagen: '',
      image: [],
      fNacimiento: '',
      firstName: '',
      department: '',
      lastName: '',
      phone: '',
      email: '',
      personalEmail: '',
      curp: '',
      state: '',
      city: '',
      career: '',
      enrollment: '',
      address: '',
      accessLevel: '',
      menu: false,
      dialog: false,
    };
  },
  methods: {
    castUser() {
      if (this.myUser.image != null) {
        this.imagen = this.myUser.image;
      } else {
        this.imagen = '';
        this.image = [];
      }
      this.firstName = this.myUser.firstName;
      this.lastName = this.myUser.lastName;
      if (this.myUser.birthDate) {
        this.fNacimiento = new Date(this.myUser.birthDate).toISOString().substring(0, 10);
      }
      this.phone = this.myUser.phone;
      this.email = this.myUser.email;
      this.personalEmail = this.myUser.personalEmail;
      this.curp = this.myUser.curp;
      this.state = this.myUser.state;
      this.city = this.myUser.city;
      this.career = this.myUser.career;
      this.department = this.myUser.department;
      this.enrollment = this.myUser.enrollment;
      this.address = this.myUser.address;
      this.accessLevel = this.myUser.accessLevel;
    },
    cancelar() {
      this.castUser();
      this.editable = false;
    },
    close() {
      this.dialog = false;
      this.editable = false;
    },
    actualizar() {
      console.log(this.myUser, 'MYUSER');
      this.dialog = true;
      const UpdatedUserData = {
        id: this.myUser.id,
        email: this.myUser.email,
        personalEmail: this.myUser.personalEmail,
        image: this.myUser.image,
        firstName: this.myUser.firstName,
        lastName: this.myUser.lastName,
        city: this.myUser.city,
        state: this.myUser.state,
        curp: this.myUser.curp,
        phone: this.myUser.phone.toString(),
        career: this.myUser.career,
        department: this.myUser.department,
        enrollment: this.myUser.enrollment,
        address: this.myUser.address,
        password: 'nopassword',
        accessLevel: this.myUser.accessLevel,
        birthDate: this.myUser.birthDate,
        userSince: this.myUser.userSince,
        status: this.myUser.status,
        credentials: {
          token: null,
          expirationInDays: 0,
        },
      };
      if (this.image.length > 0) {
        const formData = new FormData();
        formData.append('image', this.image[0]);
        Axios.post('images', formData, {
          headers: this.$store.getters.getAuth,
        }).then((res) => {
          // eslint-disable-next-line prefer-destructuring
          UpdatedUserData.image = res.data.imgs[0];
          this.$store.dispatch('updateUser', UpdatedUserData).then((result) => {
            if (result) {
              this.$router.push('/inicio');
            }
          });
        });
      } else {
        this.$store.dispatch('updateUser', UpdatedUserData).then((res) => {
          if (res) {
            this.$router.push('/inicio');
          }
        });
      }
    },
  },
  watch: {
    myUser: {
      handler() {
        this.castUser();
      },
      deep: true,
    },
    image() {
      if (this.image.length <= 1) {
        try {
          const image = this.image[0];
          const lector = new FileReader();
          lector.readAsDataURL(image);
          lector.onload = (event) => {
            this.imagen = event.target.result;
          };
        } catch (e) {
          Error(e);
        }
      }
    },
  },
  mounted() {
    this.castUser();
  },
};
</script>

<style scoped>
.marginsin {
  margin: 1rem;
}
</style>
