/* COMIENZAN ESTILOS PARA MENU */
.header{
      background-image: linear-gradient(-50deg, rgba(28, 28, 28, 0.904), rgb(47, 44, 39), rgba(28, 28, 28, 0.904 /* rgb(47, 44, 39 */));
  }
  .nav-link, .navbar-brand{
    font-size: 14px;
    margin: 3px;
    color: rgba(249,228,183)!important;
    font-weight: 500;
  }
  .navbar-nav{
    text-align: right;
    margin-right: 20px;
  }
  .menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
  }
  .nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid rgb(225,198,153);
  }
  /* TERMINAN ESTILOS DE MENU */

