<header>
  <div class="header sticky-top">
    <div class="menu-bar">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" [routerLink]="['tablerandom']">
              Trabajos
              <!-- <img src="images/logo.svg" width="25" height="25" class="d-inline-block align-top mt-1" alt="Logo">  -->
            </a> 
            <button class="navbar-toggler navbar-toggler-right"  type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ml-auto text-right">
                  <li class="nav-item" routerLinkActive="activate">
                    <a class="nav-link" [routerLink]="['tablerandom']">Table Random</a>
                  </li>
  
                  <li class="nav-item" routerLinkActive="activate">
                    <a class="nav-link" [routerLink]="['gatos']">Gatos</a>
                  </li>
  
                  <li class="nav-item" routerLinkActive="activate">
                    <a class="nav-link" [routerLink]="['rickandmorty']">Rick and Morty</a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>
  </div>
</header>

