﻿@model IEnumerable<ControlIngresoGasto.Models.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Categorias</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @if (item.Tipo == "IN")
                {
                    <p>Ingreso</p>
                }
                else
                {
                    <p>Gasto</p>
                }    
            </td>
            <td>
                @if (item.Estado == true)
                {
                    <p class="btn btn-outline-primary">Activo</p>
                }
                else
                {
                    <p class="btn btn-outline-danger">Inactivo</p>
                }
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
