<template>
    <div class="header">
        <div class="inner-header flex">
            <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
                <path fill="#FFFFFF" stroke="#000000" stroke-width="10"
                stroke-miterlimit="10" d="M57,283"/>
                <g>
                    <path fill="#fff" d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,
                    249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4C499.8,112.4,
                    388.1,0.8,250.4,0.8z M383.8,326.3c-62,
                    0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1c-22.4,3-38.4,
                    9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,
                    45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,
                    19.1-51.6,26.9-100.2,24.6l1.8-39.7c35.9,1.6,
                    59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,
                    13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,
                    166c-12.6,16-45.4,68.2-31.2,96.2c9.2,
                    18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
                </g>
            </svg>

        <v-row>
          <v-col cols="10" offset="1" lg="4" offset-lg="4">
            <v-card elevation="5" class="grey lighten-4 center ma-15"
            outlined style="position: relative; padding-top: 15rem; z-index: 999">
              <v-card style="margin-top: -40px">
                <v-img height="100%" contain :src="img ? img : ''" />
                <v-alert v-model="alert" type="error" color="red" text
                         transition="fade-in"
                         class="text-center">
                  {{errorMsg}}
                </v-alert>
                <v-card-title />
                <v-divider></v-divider>
                <v-form
                  ref="form"
                  v-model="validLogin"
                  @submit.prevent="login"
                  lazy-validation
                  class="input-form mt-2">
                  <v-text-field
                    solo placeholder="Correo Institucional"
                    :rules="[rules.novacio, rules.formato]"
                    v-model="email" />
                  <v-text-field
                    solo placeholder="Contraseña"
                    :append-icon="mPW ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.novacio]"
                    :type="mPW ? 'text' : 'password'"
                    v-model="password"
                    @click:append="mPW = !mPW"/>
                  <v-checkbox
                    class="align-end"
                    label="Mantener sesión iniciada." />
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="grey lighten-3"
                      type="submit"
                      x-large
                      style="margin-bottom: 20px; margin-top: 15px"
                    >Iniciar Sesión
                    </v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-card>
          </v-col>
        </v-row>

        </div>

        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18
                    88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
<!--Waves end-->
        <v-row>
          <v-col>
            <v-container>
              <RegisterComponent/>
            </v-container>
          </v-col>
        </v-row>

</div>
</template>

<script>
import LogoTec from '@/assets/LogoTec.png';
import MetalMecanica from '@/assets/MetalMecanica.jpg';
import RegisterComponent from '../components/Global/RegisterComponent.vue';

export default {
  name: 'Test',
  components: {
    RegisterComponent,
  },
  data() {
    return {
      loading: false,
      img: LogoTec,
      MetalMecanica,
      email: '',
      password: '',
      validLogin: true,
      keepLogin: false,
      alert: false,
      alertTxt: '',
      rules: {
        formato: (v) => /.+@.+\..+/.test(v) || 'E-mail debe ser formato valido.',
        novacio: (v) => !!v || 'No se permiten campos vacios',
      },
      errorMsg: '',
      mPW: false,
    };
  },
  methods: {
    login() {
      this.$refs.form.validate();
      if (this.validLogin) {
        this.loading = true;
        const authModel = { email: this.email, password: this.password };
        console.log(authModel, 'AUTH');
        this.$store.dispatch('logIn', authModel)
          .then(() => this.$router.replace('/inicio'))
          .catch((err) => {
            if (err.data) {
              console.log('login catch');
              console.log(err);
              this.alertTxt = err;
              this.alert = true;
              setTimeout(() => {
                this.alert = false;
              }, 10000);
              this.loading = false;
            } else {
              this.alert = true;
              this.errorMsg = 'Ha ocurrido un problema';
              this.loading = false;
              setTimeout(() => {
                this.alert = false;
              }, 10000);
            }
          });
        console.log(authModel);
      } else {
        this.$refs.form.reset();
      }
    },
  },
};
</script>

<style scoped>
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

template {
  margin: 0%;
  padding: 0%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
  margin-top: -3rem;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
</style>
