<header>
    <div class="header sticky-top">
      <div class="menu-bar">
          <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" [routerLink]="['home']">
                Home
              </a> 
              <ul class="navbar-nav ml-auto text-right">
                
                <li class="nav-item" routerLinkActive="activate">
                  <a class="nav-link" [routerLink]="['clima']">Clima</a>
                </li>

              </ul>
          </nav>
      </div>
    </div>
  </header>
  
  