.background {
    background-color: rgba(38, 36, 35, 0.625);
}

.titulo {
    text-align: center;
    color: rgb(197, 179, 88);
/*     border-bottom: 1px solid; color: rgb(224, 191, 5); */
/*     border-bottom: 1px solid; color: rgb(212,175,55);/* 
 */    /* border-bottom: 3px outset rgb(182, 153, 68); */
    justify-content: center;
}

.subtitulo {
    text-align: left;
    color: rgb(197, 179, 88);
    font-weight: bold;
}

.texto {
    text-align: center;
}