<body class="background">
    <div class="container-fluid">
        <div *ngIf="loaded texto">    
            <h3 class="titulo pt-2">
                Pronostico del Clima
            </h3>
            
            <p class="subtitulo mt-2 pb-2">
                {{cityInfo.city}}, {{cityInfo.region_name}} <br>
                {{cityInfo.country_name}} <br>
                {{d.getHours()}}:{{d.getMinutes()}} <br>
            </p>
        </div>
    </div>
</body>