Codigo Http: 
<select #codigo (change)="seleccionCodigo(codigo.value)">
    <option>200</option>
    <option>201</option>
    <option>202</option>
    <option>404</option>
    <option>500</option>
    <option>502</option>
</select>
<br>
<img src={{url}} />